<mat-toolbar color="primary">
  <button mat-icon-button [matMenuTriggerFor]="mainMenu" aria-label="Open menu">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Internet Banking</span>
</mat-toolbar>


<mat-menu #mainMenu="matMenu">
  <button mat-menu-item routerLink="/dashboard">
    <mat-icon>dialpad</mat-icon>
    <span>Transakcie</span>
  </button>
</mat-menu>


<main class="main">
  <div class="content">
    <div class="left-side">
      <a routerLink="/dashboard">
        link to dashboard component
      </a>
      <br>

      <a routerLink="/basic-accounts/basic-accounts-detail">
        link to basic-accounts-detail component
      </a>
      <br>

      <a routerLink="/basic-accounts/basic-accounts-list">
        link to basic-accounts-list component
      </a>
    </div>
  </div>
</main>

<router-outlet />
